body {
    background-color:#4D5061;;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px; /* saber a quantidade necessaria para ajustar */
        }
.titulo{
    color: #FAFAFA;

text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}        
.estoque, .vendas, .relatorios {
    color: #FAFAFA;

text-align: center;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 600;
line-height: normal;
}      
.botao-estoque, .botao-vendas, .botao-relatorios {
border-radius: 50%;
}
.botoes{
display: flex;
justify-content: center;
.estoque, .vendas, .relatorios{
margin: 30px;
}
}
